body{
    color: white;
    display: flex;
    background-color: rgb(19, 46, 72);
    font-family: sans-serif;
}

.portada{
    width: 60%;
    background-image: url(img/fondoLogin.jpg);
    background-size: cover;
    height: 100vh;
    padding: 2%;
    font-size: 3rem;
}

.login{
    width: 40%;
}

#comoUsar{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1rem 0 0;
}

#comoUsar h3{
    
    font-size: 1.5rem;
    padding: 0.3rem;
    border: 0.1rem solid rgb(238, 112, 39);
    border-radius: 0.8rem;
    opacity: 0.85;
    transition: all .5s ease;
}

#comoUsar h3:hover{
    background-color: rgb(64, 152, 234);
}

.form{
    width: 50%;
    height: 50%;
    margin: 25vh auto ;
    text-align: center;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 2rem;
}

.form h2{
    margin: 10%;
    font-size: 2.5rem;
}

.form form{
    padding: 10%;
    font-size: 1.2rem;
}

#btnLogin {
    width: 80%;
    background-color: rgb(64, 152, 234);
    opacity: 0.8;
    color: white;
}

#btnLogin:hover, #registrate, #comoUsar h3{
    cursor: pointer;
    opacity: 1;
    
}

#registrate{
    font-size: large;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    opacity: 0.9;
}

.mensaje{
    color: greenyellow;
    font-size: 1rem;
}

#contenedorComoUsar{
    position: absolute;
    top: 0;
    height: 99%;
    padding: 5rem 7rem;
    background-color: rgba(0, 0, 0, 0.75);
    width: 99%; 
}

#cerrarComoUsar{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

#textoComoUsar{
    color: white;
    background-color: rgb(64, 152, 234);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.4rem;
}

.accion{
    width: 1.4rem;
    margin: 0.1rem;
    opacity: 0.7;
}
.accion:hover{
    cursor: pointer;
    opacity: 1;
}

.invisible{
    display: none;
}