<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas de usuario</title>
    <link rel="stylesheet" href="../static/tareas.css">
    <!-- <link rel="stylesheet" href="../static/tareas.css"> -->
</head>
<body>
    <h1>Tareas de usuario </h1>
    <!-- <h2 th:if="${session.usuariosession}!=null"th:text="${session.usuariosession.nombre}"></h2> -->
    <!--h2 th:text="${usuario.nombre}"></h2>-->
    <!--<p th:if="${error!= null}" th:text="${error}" style="color:red;"></p>-->

    <table id="tablaGeneral">
        <thead>
            <tr>
                <th scope="col">#id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Creación</th>
                <th scope="col">Fecha límite</th>
                <th scope="col">Cumplida?</th>
            </tr>
        </thead>
        <tbody th:each="tarea: ${tareas}">
            <tr>
                <th scope="row" th:text="${tarea.id}">123</th>
                <td >Comprar gaseosa</td>
                <td >Ir al supermercado por jugo y pasar por la carniceria</td>
                <td >10/02/2021</td>
                <td >20/03/2022</td>
                <td >
                    <i>
                        <img class="cumplida" src="/img/tildeVerde.png" alt="Cumplida"> 
                    </i>
                    <i>
                        <img class="cumplida" src="/img/equisRoja.png" alt="NoCumplida">
                    </i>
                </td>
            </tr>
        </tbody>
    </table> <br>
    <button ><a href="/">IR A INICIO</a></button>
</body>
</html>